@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sens-serif;
}

a {
  text-decoration: none;
  color: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-1 {
  width: 3.33333%;
}

.col-2 {
  width: 11.66667%;
}

.col-3 {
  width: 20%;
}

.col-4 {
  width: 28.33333%;
}

.col-5 {
  width: 36.66667%;
}

.col-6 {
  width: 45%;
}

.col-7 {
  width: 53.33333%;
}

.col-8 {
  width: 61.66667%;
}

.col-9 {
  width: 70%;
}

.col-10 {
  width: 78.33333%;
}

.col-11 {
  width: 86.66667%;
}

.col-12 {
  width: 95%;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 2em;
  width: calc(100% - 4em);
}

.flex-vertical {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.both-ends {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bg-blue {
  background: #192751;
}

.bg-light-blue {
  background: #00256D;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.text-light-blue {
  color: #192751;
}

h1, h2, h3 {
  color: #00256D;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3em;
  margin-bottom: 2.5em;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
}

.highlight {
  font-size: 1.2em;
  margin: auto;
}

.highlight-short {
  max-width: 500px;
}

.highlight-long {
  max-width: 700px;
}

.img-full {
  width: 100%;
}

button {
  background: none;
  padding: 0.75em 1.75em;
  border: 1.5px solid white;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
}

button:hover {
  background: white;
  color: #00256D;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  padding: 2em 0;
}

.main-header nav span {
  display: inline-block;
  margin-right: 1.5em;
}

.main-header nav span:last-child {
  margin-right: 0;
}

.landing {
  min-height: 95vh;
  background-color: #192751;
  background-image: url("../img/LOJ Landing Image.jpg");
  background-blend-mode: multiply;
  color: white;
  background-size: cover;
  background-position: top center;
  font-size: 2.5em;
}

.section {
  padding: 5em 0;
}

.who-we-are .col-6 {
  padding: 3em 1.5em;
  margin: 4em 0;
  border-radius: 10px;
  min-height: 200px;
}

.service {
  margin: 4em 0;
}

.service .intro {
  text-transform: uppercase;
  color: #00256D;
}

.service h2 {
  margin-top: -0.25em;
}

.service p:not([class="intro"]) {
  margin-top: -0.5em;
}

.what_makes_us_special {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 6em;
}

.what_makes_us_special .image_area {
  background-image: url("../img/what_makes_us_special_loj.jpg");
  background-size: 200%;
  background-position: left center;
  border-radius: 0 5px 5px 0;
}

.what_makes_us_special .row {
  padding-left: 10%;
  max-width: 800px;
}

.what_makes_us_special .row .col-6 {
  margin: 3em 0;
}

.innovation-vehicles .col-6 {
  width: 50%;
}

.innovation-vehicles .vehicle .information {
  padding: 2em;
  width: calc(50% - 4em);
}

.innovation-vehicles .vehicle .information div {
  max-width: 400px;
}

.innovation-vehicles .vehicle:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.innovation-vehicles .vehicle:nth-child(odd) .information {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.csr h3 {
  font-weight: normal;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
  font-size: 1em;
}

.csr h1 {
  text-transform: none;
  margin-top: -0.3em;
}

.main-footer {
  padding: 2em;
}

.main-footer .col-6 img {
  margin-top: 30px;
  height: 80px;
}

.main-footer h3 {
  color: white;
  margin-bottom: 1.5em;
}

.main-footer .links span {
  display: block;
  margin-bottom: 1em;
}

.main-footer .links .social-icons span {
  display: inline-block;
  margin-right: 1em;
}

.main-footer .copyright {
  margin-top: 5em;
}
/*# sourceMappingURL=index.css.map */