$blue: #192751;
$light-blue: #00256D;
$trans-blue: rgba(25, 39, 81, 0.8);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Poppins, sens-serif;
}

// House Cleaning
a{
    text-decoration: none;
    color: white;
}

//Utilities

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@for $i from 1 through 12{
    .col-#{$i}{
        width: ((100% /12)*$i) - 5%;
    }
}
.container{
    max-width: 1200px;
    margin: auto;
    padding:2em;
    width: calc(100% - 4em);
}
.vertical-center{
    align-items: center;
}
.horizontal-center{
    justify-content: center;
}
.vertical-bottom{
    align-items: flex-end;
}
.both-ends{
    justify-content: space-between;
}

//Blue background
.bg-blue{background: $blue}
.bg-light-blue{background: $light-blue}

//Text Alignment
.text-left{text-align: left}
.text-center{text-align: center}


// Text Colors
.text-white{color: white}
.text-light-blue{ color: $blue}
h1,h2,h3{
    color: $light-blue;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.3em;
    margin-bottom: 1em;
}
h2{
    font-size: 2em;
    font-weight: 500;
    line-height: 1;
}

.highlight{
    font-size: 1.2em;
    margin: auto;
}
.highlight-short{
    max-width: 500px;
}
.highlight-long{
    max-width: 700px;
}

.img-full{
    width: 100%;
}

// Button 
button{
    background: none;
    padding: 0.75em 1.75em;
    border: 1.5px solid white;
    color: white;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    &:hover{
        background: white;
        color: $light-blue;
    }
}
// Website Sections
.main-header{
    background-color: rgba(25, 39, 81, 0);
    transition: (background-color, padding) 0.5s ease-out;
    z-index: 100;
    .container{
        transition: padding 0.5s ease-out;
    }
    .menu{
        display: none;
    }
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 2em 0;
    nav{
        color: $blue;
        span{
            display: inline-block; margin-right: 1.5em;
            &:last-child{
                margin-right: 0;
            }
            
            }
    }

}
.nav_open_pc{
        nav span a{color: $blue}
        button{color: $blue; border-color: $blue}
    }

.bg-blue-filter{
    background: $trans-blue;
    background-blend-mode: multiply;
}
.landing{
    min-height: 100vh;
    background-image: url('../img/LOJ Landing Image.jpg');
    color: white;
    background-size: cover;
    background-position: top center;
    font-size: 2.5em;

}


.section{
    padding: 5em 0;
}

.who-we-are{
    .col-6{
        padding: 3em 1.5em;
        margin: 4em 0;
        min-height: 200px;
    }
}

.service{
    margin: 4em 0;
    .intro{
        text-transform: uppercase;
        color: $light-blue;
    }
    h2{
        margin-top: -0.25em;
    }
    p:not([class="intro"]){
        margin-top: -0.5em;
    }
}
.what_makes_us_special{
    justify-content: flex-start;
    margin-top: 6em;
    .image_area{
        background-image: url('../img/what_makes_us_special_loj.jpg');
        background-size: 200%;
        background-position: left center;
    }
    .row{
        padding-left: 10%;
        max-width: 800px;
        .col-6{
            margin: 3em 0;
        }
    }
}

.innovation-vehicles{
    .col-6{
        width: 50%;
    }
    .vehicle{

    .information{
        width: 50%;
        div{
            max-width: 400px;
        }
    }

  
    }
    .vehicle:nth-child(odd){
        flex-direction: row-reverse;
        .information{
            justify-content: center;

        }
    }
}

.csr{
    h3{
        font-weight: normal;
        text-transform: uppercase;
        color: black;
        letter-spacing: 2px;
        font-size: 1em;
    }
    h1{
        text-transform: none;
        margin-top: -0.3em;
    }
    .info{
        min-height: 300px;
        background-image: url('../img/csr.jpg');
        padding: 4em 0;
        h2{
            margin: 0 auto;
            font-weight: 300;
        }
        margin-bottom: 4em;
    }
}

.footprints{
    .col-3{
        width: 25%;
        margin-bottom: 2em;
        img{
            margin: auto;
            filter: grayscale(1);
            &:hover{
                filter: grayscale(0);
            }
        }
    }
}
.main-footer{
    padding: 2em;
    .col-6{
        img{
            margin-top: 30px;
            height: 80px;
        }
    }
    h3{
        color: white;
        margin-bottom: 1.5em;
    }
    .links{
        span{
            display: block;
            margin-bottom: 1em;
        }
            .social-icons{
                span{
                    display: inline-block;
                    margin-right: 1em;
                }

            }
    }

    // Copyright
    .copyright{
        margin-top: 5em;
        font-size: 12px;
    }
}

@media screen and (max-width: 468px){
    body{
        font-size: 0.75em;
    }
    h1{
        font-size: 2em;
    }
    .col-mobile{
        width: 100% !important;
        text-align: center;
        }
    .section{padding: 2em 0;}
    .main-header{
        padding: 0;
        background: $blue;
        .container{
            padding: 1em 2em;
        }
        img{
            width: 40px;
        }
        .menu{
            display: block;
            svg{height: 50px}
        }
        nav{
            background: $blue;
            width: 200px;
            height: 0;   
            top: 87px;
            right: 0;
            position: absolute;
            transition: height 0.5s ease-out;
            span{
                display: block;
                text-align: center;
                opacity: 0;
                margin: 2em 0;
                font-size: 1.2em;
                transition-property: opacity;
                transition-duration: 0.25s;
            }
        }

        
        .nav_open{
            span{
                opacity: 1;
                a{color: white}
                button{color: white; border-color: white;}

            }
        }

    
    }
    .landing{
        min-height: 85vh;
        font-size: 2em;
        br{display: none;}
    }
    .who-we-are{
        margin: 2em 0;
        .col-6{
            padding: 0em;
            margin: 1em 0;
            img{
                width: 50px;
            }
            p{
        text-align: left !important;
            }
        }
    }
.what_makes_us_special{
    padding: 0 2em;
    .image_area{
        height: 300px;
        border-radius: 10px 10px 0 0;
    }
    .row{
    padding: 0 2em;
    }
    br{display: none;}
}
.innovation-vehicles{
    .vehicle{
        flex-direction: column-reverse !important;
        margin-bottom: 6em;
        img{
            width: 80%;
        }
    }
}

    .service{
        padding: 0;
        img{width: 80px;}
        p:not([class="intro"]){
            width: 300px;
            margin: auto;
        }
        .intro{
            font-size: 10px;
        }
    }

    .csr{
        .info{
            min-height: 150px;
        }
        h2{
            font-size: 1.5em;
        }
    }
    .footprint-title{
        text-align: center;
    }
    .footprints{
        .col-3{
            width: 33% !important;
            img{
                width: 60px;
            }
        }
    }

    .main-footer{
        .col-mobile{
            margin-bottom: 3em;
        }
    }
}